{% extends "base.html" %}

{% block title %}
Receipt Analyzer -- CashReceipts for user {{ user.username }}
{%  endblock %}

{% block content %}
    <article>
        <header>
             <h1>CashReceipts for {{ user.username }}</h1>

            <ul>
                {% for cr in user.cashreceipts %}
                    <li>
                        <a href="{{ cr.url }}">{{ cr.description }}</a> <br>
                        <span class="timestamp">Added at {{ cr.date }}</span>
                    </li>
                {% else %}
                    <li>This user has not added any cashreceipts yet.</li>
                {% endfor %}
            </ul>
        </header>

    </article>
{% endblock %}
